.vscode/
wshabtilib/api/combination.o
wshabtilib/api/deriver.o
wshabtilib/api/exclusion.o
wshabtilib/api/model.o
wshabtilib/api/parameter.o
wshabtilib/api/pictapi.o
wshabtilib/api/task.o
wshabtilib/api/worklist.o
wshabtilib/parameter-parser/parameter-parser.o
wshabtilib/java-source-code-parser/java-source-code-parser.o
wshabtilib/junit-test-case-generator/junit-test-case-generator.o
wshabtilib/oracle-generator/oracle-generator.o
wshabtilib/case-test-generator/case-test-generator.o
wshabtilib/input-parser/input-parser.o
wshabtilib/utils/utils.o
main/WShabtiPict.o
WShabtiPict